.card{
    font-size: 0.2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
}

.card-title{
    font-size: 0.25rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    color: #424242;
}

.card-content{
    font-size: 0.18rem;
    padding-bottom: 0.15rem;
    color: #857e73;
}

.card-icon{
    margin-top: 0.15rem;
    padding-bottom: 0.15rem;
    font-size: 0.5rem;
    color:#4fe0c0;
}