
  #footer{
      background-color:  #4ba4fa;
      width: 100vw;
      clear: both;
      position: absolute;
      bottom: 0;
  }

  #footer-social{
      width:60%;
      margin: 0 auto;
      text-align: center;
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
      font-size: 0.3rem;
  }

  #footer-social .footer-icon{
      margin-right:2%;
      color:white;
  }

.footer-links{
    width: 60%;
    margin: 0 auto;
    font-size: 0.2rem;
    text-align: center;
}

.footer-links a{
    text-decoration: none;
    margin-right: 3%;
    color: white;
}

.footer-links a:nth-child(1){
    margin-left:5%;
}

#footer-subs{
    width: 60%;
    margin: 0 auto;
    font-size: 0.2rem;
    text-align: center;
    margin-top: .4rem;
}

#footer-subs p{
    color:white;
    margin-bottom: 0.15rem;
}

#footer-subs input{
    background-color: #4fe0c0;
    margin-bottom: 0.4rem;
    width:30%;
    height:0.3rem;
    border: none;
    border-radius: 15px;
    padding:10px;
    resize: none;
    outline: none;
    font-size: 0.15rem;
    color:white;
}

::placeholder { 
    color: white;
    opacity: 1;
    font-size: 0.15rem;
  }