.lpage{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5,auto);
    min-height: 100vh;
}

.auth{
	position: relative;
	top:1.4rem;
}

.auth-wave{
	position: fixed;
	top:1.8rem;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}