.nav{
    height:70px;
    width:100vw;
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
    background-color: #2d3e50;
    font-size: 22px;
    font-family: monospace;
    position:absolute;
    color: white
}

.navbarLeft{
    display: inline;
    float: left;
}

#navbarCompanyLogo{
    display: inline;
    margin-left:3vw;
    cursor: pointer;
    font-size: 30px;
}

#home{
    display: inline;
    margin-left: 2vw;
    line-height: 70px;
    cursor: pointer;
}

.navbarRight,.navbarRightActive{
    display: inline;
    float: right;
}

.navbarButton{
    display: none;
    height: 100%;
    width: 40px;
    float: right;
    margin-right: 3vw;
}

.navbarButton span{
    display: block;
    height:5px;
    width:40px;
    background-color: white;
}

#span1{
    margin-top:18px;
}

#span2{
    margin-top:9.5px;
}

#span3{
    margin-top: 9.5px;
}

#about,#blogs,#login,#logout{
    display: inline;
    margin-left: 3vw;
    line-height: 70px;
    cursor: pointer;
}

#logout{
    margin-right:3vw;
}

#home:hover, #about:hover,#blogs:hover,#login:hover,#logout:hover{
    color:aqua
}

@media  only screen and (max-width:600px) {
    .navbarButton{
        display: inline;
    }

    #home{
        margin-left:6vw;
    }

    .navbarRight{
        display:none;
    }
    .navbarRightActive{
        position:absolute;
        display: block;
        float: none;
        top:70px;
        background-color: #2d3e50;
        color: white;
    }

    .navbarRightActive #about, .navbarRightActive #blogs, .navbarRightActive #login, .navbarRightActive #logout{
        display: block;
        width: 100vw;
        height: 35px;
        line-height: 35px;
        margin: 0;
        padding-left:3vw ;
        border-bottom:0.1px solid white;
    }
    .navbarRightActive #about{
        border-top: 0.1px solid white;
    }
}