.nav{
    height:0.7rem;
    width:100vw;
    background-color: white;
    font-family: monospace;
    position:fixed;
    font-size: 0.2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: #2d386e;
}

.navbarLeft{
    display: inline;
    float: left;
}

#navbarCompanyLogo{
    display: inline;
    margin-left:3vw;
    font-size: 0.3rem;
    color:#4ba4fa;
}

#home{
    display: inline;
    margin-left: 2vw;
    line-height: 0.7rem;
    cursor: pointer;
}

.navbarRight,.navbarRightActive{
    display: inline;
    float: right;
}

.navbarButton{
    display: none;
    height: 100%;
    width: 0.4rem;
    float: right;
    margin-right: 3vw;
}

.navbarButton span{
    display: block;
    height:0.05rem;
    width:0.4rem;
    background-color: #4ba4fa;
}

#span1{
    margin-top:0.18rem;
}

#span2{
    margin-top:0.095rem;
}

#span3{
    margin-top: 0.095rem;
}

#about,#blogs,#login,#logout{
    display: inline;
    margin-left: 3vw;
    line-height: 0.7rem;
    cursor: pointer;
}

#logout{
    margin-right:3vw;
}

#home:hover, #about:hover,#blogs:hover,#login:hover,#logout:hover{
    color:#4fe0c0;
}

@media  only screen and (max-width:600px) {
    .navbarButton{
        display: inline;
    }

    #home{
        margin-left:6vw;
    }

    .navbarRight{
        display:none;
    }
    .navbarRightActive{
        position:absolute;
        display: block;
        float: none;
        top:0.7rem;
        background-color: white;
        color: #4ba4fa;
    }

    .navbarRightActive #about, .navbarRightActive #blogs, .navbarRightActive #login, .navbarRightActive #logout{
        display: block;
        width: 100vw;
        height: 0.7rem;
        line-height: 0.7rem;
        margin: 0;
        padding-left:3vw ;
        border-bottom:0.1px solid #4ba4fa;
    }
    .navbarRightActive #about{
        border-top: 0.1px solid white;
    }
}