.lpage-nav{
    z-index: 100;
    height:1.4rem;
    width:100vw;
    font-family: monospace;
    position:fixed;
    top: 0;
    font-size: 0.4rem;
    background-color: rgb(50, 190, 143);
    color: white;
}

.lpage-logo{
    position: relative;
    width:1.8rem;
    height:1rem;
    line-height: 1.4rem;
}

#lpage-navbarCompanyLogo{
    position: absolute;
    top:0.7rem;
    left:6vw;
    height:100%;
    width:1.8rem;
    transform: translate(-50%, -50%);
    color:white;
}

.lpage-navbarLeft{
    display: inline;
    float: left;
}

.lpage-a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#lpage-home{
    display: inline;
    margin-left: 6vw;
    line-height: 1.4rem;
    cursor: pointer;
}

.lpage-navbarRight,.navbarRightActive{
    display: inline;
    float: right;
    margin-right: 6vw;
}

.lpage-navbarButton{
    display: none;
    height: 100%;
    width: 0.8rem;
    float: right;
    margin-right: 3vw;
}

.lpage-navbarButton span{
    display: block;
    height:0.1rem;
    width:0.8rem;
    background-color: white;
}

#lpage-span1{
    margin-top:0.5rem;
}

#lpage-span2{
    margin-top:0.3rem;
}

#lpage-span3{
    margin-top: 0.3rem;
}

#lpage-about,#lpage-blogs,#lpage-login,#lpage-logout{
    display: inline;
    margin-left: 3vw;
    line-height: 1.4rem;
    cursor: pointer;
}

#lpage-logout{
    margin-right:3vw;
}

#lpage-home:hover, #lpage-about:hover,#lpage-blogs:hover,#lpage-login:hover,#lpage-logout:hover{
    color:#2d386e;
}

.dropbtn {
    font-size: 0.4rem;
    display: inline-block;
    margin: 0;
    padding : 0;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    width: 1rem;
    line-height: 1rem;
    text-align: center;
    border: solid white 2px;
  }
  
  #btn-blog{
    border: none;
  }

  #drp-blog{
    width: max-content;
  }

  .dropdown {
    display: inline-block;
    color: white;
    margin-left: 2.5vw;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  #lpage-profile{
    border-radius: 50%;
  }

  .dropdown-content {
    display: none;
    font-size: 0.3rem;
    position: absolute;
    top:1.39rem;
    min-width: 154px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #2d386e;
    padding: 10px 14px;
    background-color: white;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover{
    color: rgb(79, 224, 192)
  }

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: #2d386e;}

@media  only screen and (max-width:768px) {

    .lpage-nav{
        height: 2rem;
        line-height: 2rem;
        font-size:0.55rem;
    }

    .lpage-navbarButton{
        display: inline;
    }
    
    #lpage-navbarCompanyLogo{
        top:1rem;
    }

    #lpage-home{
        margin-left:6vw;
        line-height: 2rem;
    }

    .lpage-navbarRight{
        display:none;
    }
    .lpage-navbarRightActive{
        position:relative;
        display: block;
        float: none;
        background-color: white;
        color: rgb(50, 190, 143);
    }

     #lpage-about, .dropdown, .lpage-navbarRightActive #lpage-blogs, .lpage-navbarRightActive #lpage-login, .lpage-navbarRightActive #lpage-logout{
        display: block;
        width: 100vw;
        height: 2rem;
        line-height: 2rem;
        font-size: 0.4rem;
        margin: 0;
        padding-left:3vw ;
        border-bottom:0.1px solid rgb(50, 190, 143);
    }
    .lpage-navbarRightActive #lpage-about{
        border-top: 0.1px solid white;
    }

    .dropdown-content{
        top: 0;
        position: relative;
    }

    .lpage-a{
        color:rgb(50, 190, 143);
    }

    .dropbtn{
        border: solid rgb(50, 190, 143) 2px;
        color: rgb(50, 190, 143);
    }

    .dropdown-content a {
        padding: 5px;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: 0.4rem;
    }

}