#top{
    margin-top:2rem;
    margin-bottom: 0.5rem;
    display:grid;
    grid-template-columns:60% 40%;
    grid-template-rows:repeat(1,1fr);
}

#top1-content{
    padding-top:5%;
    font-size:40px;
    color:#4ba4fa;
    width:80%;
    margin-left: 20%;
    padding:10px 10px 10px 10px;
}

#top1-content p{
    font-size: 0.5rem;
    font-weight: 800;
    font-style: italic;
    word-wrap: break-word;
}

#top1-button{
    background-color:#4fe0c0;
    margin-top: 0.3rem;
    color: white;
    border:none;
    width:22%;
    height:0.5rem;
    font-size:0.25rem;
    border-radius:0.25rem;
}