#top{
    width:70vw;
    margin: 0 auto;
    margin-top:2rem;
    margin-bottom: 0.7rem;
    display:grid;
    grid-template-columns:60% 40%;
    grid-template-rows:repeat(1,1fr);
}

#top1-content{
    padding-top:5%;
    font-size:0.4rem;
    padding:10px 10px 10px 10px;
}

#top1-p{
    font-size: 0.5rem;
    font-weight: 800;
    word-wrap: break-word;
    color: #2d386e;
    letter-spacing: -0.025em;
}

.top1-button{
    background-color:#4fe0c0;
    margin-top: 0.5rem;
    color: #fdf7ff;
    font-weight: 400;
    border:none;
    width:28%;
    height:0.5rem;
    font-size:0.25rem;
    border-radius:0.15rem;
}
#top1-para{
    font-size: 0.3rem;
    font-weight: 200;
    word-wrap: break-word;
    color: #2d386e;
    letter-spacing: -0.025em;
    margin-top: 0.15rem;
}