#lpage-top{
    width:70vw;
    margin: 0 auto;
    margin-top:4rem;
    margin-bottom: 1.4rem;
    display:grid;
    grid-template-columns:60% 40%;
    grid-template-rows:repeat(1,1fr);
}

#lpage-top1-content{
    padding-top:5%;
    font-size:0.8rem;
    padding:10px 10px 10px 10px;
}

#lpage-top1-p{
    font-size: 1rem;
    font-weight: 800;
    word-wrap: break-word;
    color: #2d386e;
    letter-spacing: -0.025em;
}

.lpage-top1-button{
    background-color:white;
    margin-top: 1rem;
    color: #38366c;
    font-weight: 500;
    border:none;
    width:28%;
    height:1rem;
    font-size:0.5rem;
    border-radius:0.30rem;
}

.lpage-top1-button:hover{
    background-color: #d1e6fd;
    color:rgb(50, 190, 143)
}

#lpage-top1-para{
    font-size: 0.6rem;
    font-weight: 200;
    word-wrap: break-word;
    color: #2d386e;
    letter-spacing: -0.025em;
    margin-top: 0.30rem;
}